@using Microsoft.AspNetCore.Identity
@inject SignInManager<Data.Models.AppUser> SignInManager
@inject UserManager<Data.Models.AppUser> UserManager
@{ 
    var data = ViewData["Data"] as Data.Models.ThongTinWeb;
    var dslsp = ViewData["DSLSP"] as List<Data.Models.LoaiSP>;
}


<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/home/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/home/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/home/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/home/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/home/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/home/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/home/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/home/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__nav__option">
            <a href="/home/#" class="search-switch"><img src="/home/img/icon/search.png" alt=""></a>
            <a href="/home/#"><img src="/home/img/icon/heart.png" alt=""></a>
            <a asp-action="Cart"><img src="/home/img/icon/cart.png" alt=""> <span>@ViewData["CartCount"]</span></a>
            <div class="price">@ViewData["Total"]</div>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            @*<p>Free shipping, 30-day return or refund guarantee.</p>*@
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            @*<p>Free shipping, 30-day return or refund guarantee.</p>*@
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="header__top__links">
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name</a>
                                    <form class="d-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <input type="submit" value="Đăng xuất" />
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__links">
                                    <a asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
                                    <a asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a asp-area="Home" asp-controller="Home" asp-action="Index" style="color: black !important; font-size: 35px; font-weight: 600;">
                        @data.BrandName
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a asp-area="Home" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li><a asp-area="Home" asp-controller="Home" asp-action="Products">Sản phẩm</a></li>
                            <li>
                                <a>Loại sản phẩm</a>
                                <ul class="dropdown">
                                    @foreach (var item in dslsp)
                                    {
                                        <li><a asp-action="Products" asp-route-categoryid="@item.Id">@item.Name</a></li>

                                    }
                                </ul>
                            </li>
                            <li><a href="/home/./contact.html">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a class="search-switch"><img src="/home/img/icon/search.png" alt=""></a>
                        <a style="cursor:pointer;"><img src="/home/img/icon/heart.png" alt=""></a>
                        <a  asp-action="Cart"><img src="/home/img/icon/cart.png" alt=""> <span id="cart-count">@ViewData["CartCount"]</span></a>
                        <div id="total" class="price">@ViewData["Total"]</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a asp-area="Home" asp-controller="Home" asp-action="Index" style="color: white !important; font-size: 35px; font-weight: 600;">
                                @data.BrandName
                            </a>
                        </div>
                        <a><img src="/home/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="/home/#">Trang chủ</a></li>
                            <li><a href="/home/#">Sản phẩm</a></li>
                            <li><a href="/home/#">Loại sản phẩm</a></li>
                            <li><a href="/home/#">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Đăng ký để nhận được những thông báo mới nhất từ chúng tôi</p>
                            <form action="#">
                                <input type="text" placeholder="Email của bạn">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="/home/https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form id="search" class="search-model-form">
                <input type="text" id="search-input" placeholder="Nhập từ khóa tìm kiếm...">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="/home/js/jquery-3.3.1.min.js"></script>
    <script src="/home/js/bootstrap.min.js"></script>
    <script src="/home/js/jquery.nice-select.min.js"></script>
    <script src="/home/js/jquery.nicescroll.min.js"></script>
    <script src="/home/js/jquery.magnific-popup.min.js"></script>
    <script src="/home/js/jquery.countdown.min.js"></script>
    <script src="/home/js/jquery.slicknav.js"></script>
    <script src="/home/js/mixitup.min.js"></script>
    <script src="/home/js/owl.carousel.min.js"></script>
    <script>
        'use strict';

        (function ($) {

            /*------------------
                Preloader
            --------------------*/
            $(window).on('load', function () {
                $(".loader").fadeOut();
                $("#preloder").delay(200).fadeOut("slow");

                /*------------------
                    Gallery filter
                --------------------*/
                $('.filter__controls li').on('click', function () {
                    $('.filter__controls li').removeClass('active');
                    $(this).addClass('active');
                });
                if ($('.product__filter').length > 0) {
                    var containerEl = document.querySelector('.product__filter');
                    var mixer = mixitup(containerEl);
                }
            });

            /*------------------
                Background Set
            --------------------*/
            $('.set-bg').each(function () {
                var bg = $(this).data('setbg');
                $(this).css('background-image', 'url(' + bg + ')');
            });

            //Search Switch
            $('.search-switch').on('click', function () {
                $('.search-model').fadeIn(400);
            });

            $('.search-close-switch').on('click', function () {
                $('.search-model').fadeOut(400, function () {
                    $('#search-input').val('');
                });
            });

            /*------------------
                Navigation
            --------------------*/
            $(".mobile-menu").slicknav({
                prependTo: '#mobile-menu-wrap',
                allowParentLinks: true
            });

            /*------------------
                Accordin Active
            --------------------*/
            $('.collapse').on('shown.bs.collapse', function () {
                $(this).prev().addClass('active');
            });

            $('.collapse').on('hidden.bs.collapse', function () {
                $(this).prev().removeClass('active');
            });

            //Canvas Menu
            $(".canvas__open").on('click', function () {
                $(".offcanvas-menu-wrapper").addClass("active");
                $(".offcanvas-menu-overlay").addClass("active");
            });

            $(".offcanvas-menu-overlay").on('click', function () {
                $(".offcanvas-menu-wrapper").removeClass("active");
                $(".offcanvas-menu-overlay").removeClass("active");
            });

            /*-----------------------
                Hero Slider
            ------------------------*/
            $(".hero__slider").owlCarousel({
                loop: true,
                margin: 0,
                items: 1,
                dots: false,
                nav: true,
                navText: ["<span class='arrow_left'><span/>", "<span class='arrow_right'><span/>"],
                animateOut: 'fadeOut',
                animateIn: 'fadeIn',
                smartSpeed: 1200,
                autoHeight: false,
                autoplay: false
            });

            /*--------------------------
                Select
            ----------------------------*/
            $("select").niceSelect();

            /*-------------------
                Radio Btn
            --------------------- */
            $(".product__color__select label, .shop__sidebar__size label, .product__details__option__size label").on('click', function () {
                $(".product__color__select label, .shop__sidebar__size label, .product__details__option__size label").removeClass('active');
                $(this).addClass('active');
            });

            /*-------------------
                Scroll
            --------------------- */
            $(".nice-scroll").niceScroll({
                cursorcolor: "#0d0d0d",
                cursorwidth: "5px",
                background: "#e5e5e5",
                cursorborder: "",
                autohidemode: true,
                horizrailenabled: false
            });

            /*------------------
                CountDown
            --------------------*/
            // For demo preview start
            // For demo preview end


            // Uncomment below and use your date //

            /* var timerdate = "2020/12/30" */


            /*------------------
                Magnific
            --------------------*/
            $('.video-popup').magnificPopup({
                type: 'iframe'
            });

            /*-------------------
                Quantity change
            --------------------- */


            /*------------------
                Achieve Counter
            --------------------*/
            $('.cn_num').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 4000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                });
            });

        })(jQuery);
    </script>
    @RenderSection("Scripts", false)
<script>
        $(document).ready(function () {
            $(".add-cart").click(function () {
                var productId = $(this).next('input[type="hidden"]').val();
                $.ajax("@Url.ActionLink("AddCart", "Cart", new { area = "Home"})", {
                    data: {
                        maCTSP: productId,
                        quantity : 1
                    },
                    method: "POST",
                    success: (res, status, xhr) => {
                        $('#cart-count').html(res.soSanPham);
                        $('#total').html(res.tongTien);
                    },
                    error: (xhr, status, er) => {
                        window.open("@Url.PageLink("/Account/Login", null, new { area = "Identity" })");
                    }
                });
            });
            $('a[href="@Context.Request.Path"').parent().addClass('active');
            $('#search').submit(function (e) {
                e.preventDefault();
                window.location.href = "@Url.ActionLink("Products", "Home", new { area = "Home"})?search=" + $(this).find('input').val();

            });
        });
</script>
</body>

</html>