@model IEnumerable<Data.Models.HoaDonXuat>

@{
    ViewData["Title"] = "Index";
}

<h1>Đơn đặt hàng</h1>


<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Huyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Xa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Huyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Xa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @string.Format("{0:n0}đ", item.TongTien)
            </td>
            <td class="d-flex">
                <a title="Chỉnh sửa" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                <a title="Chi tiết" class="mx-1 btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                <a title="Xóa" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
