@model IEnumerable<Data.Models.ThongTinWeb>

@{
    ViewData["Title"] = "Thông tin Website";
}

<h1>Danh sách thông tin website</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroImageOneName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroImageTwoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActivated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                <img height="50" src="/api/file/@item.HeroImageOneName" />
            </td>
            <td>
                <img height="50" src="/api/file/@item.HeroImageOneName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivated)
            </td>
            <td class="d-flex">
                <a title="Chỉnh sửa" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                <a title="Chi tiết" class="mx-1 btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                <a title="Xóa" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
